<div class="center-align">
    <nav class="topbar">
        <div class="hide-on-small-only">
            <a class="topbar-link" href="{{ urlFor('lessons:home') }}">Lessons</a>
            <a class="topbar-link" href="javascript:void(0)">Notifications <span class="topbar-badge">{{ random(8) + 1 }}</span></a>
            <a class="topbar-link" href="{{ urlFor('auth:logout') }}">Sign Out</a>
        </div>
        <div class="hide-on-med-and-up">
            <a class="topbar-icon" href="/lessons/"><i class="material-icons">event</i></a>
            <a class="topbar-icon" href="javascript:void(0)"><i class="material-icons">notifications</i><span class="topbar-badge">{{ random(8) + 1 }}</span></a>
            <a class="topbar-icon" href="/api/auth/logout"><i class="material-icons">&#xE8AC;</i></a>
        </div>
    </nav>
</div>
<div class="no-interact top-user-info">Logged in as <i style="text-decoration: underline;">{{ app.auth.name }}</i>, <i>{{ app.auth.getTypeString() }}</i></div>
<style>
    .top-user-info {
        opacity  : .5;
        display  : inline-block;
        position : absolute;
        top      : 0;
        right    : .5em;
    }
</style>
