<nav class="topbar"
     data-notifications-list="{{ urlFor('api:notifications:list') }}" data-notifications-count="{{ urlFor('api:notifications:count') }}"
     data-notifications-seen="{{ urlFor('api:notifications:seen') }}">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Logo</a>
        <a href="javascript:void(0)" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if app.auth.isTeacher() %}
                <li><a href="{{ urlFor('user:invite') }}"><i class="material-icons left">share</i>Invite</a></li>
                <li class="divider"></li>
            {% endif %}
            <li><a href="{{ urlFor('home:home') }}"><i class="material-icons left">event</i>Schedule</a></li>
            <li><a href="{{ urlFor('lessons:home') }}"><i class="material-icons left">schedule</i>Lessons</a></li>
            <li class="divider"></li>
            <li>
                {% if app.auth.isTeacher() %}
                    <a href="{{ urlFor('notifications:view') }}">
                        <i class="material-icons">notifications</i>
                    </a>
                {% else %}
                    <a href="javascript:void(0)" data-activates="notifications-dropdown"
                       ref="dropdown" @click="dropdownToggle">
                        <i class="material-icons">notifications</i>
                        <span class="notification-count" :data-notifications="notificationCount > 0">{{ '{{' }} notificationCount{{ '}}' }}</span>
                    </a>
                {% endif %}
            </li>
            <li><a href="{{ urlFor('auth:logout') }}"><i class="material-icons">&#xE8AC;</i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li class="logo"><a href="{{ urlFor('home:home') }}">Logo</a></li>
            <li class="bold"><a href="{{ urlFor('home:home') }}"><i class="material-icons left">event</i>Schedule</a></li>
            <li class="bold"><a href="{{ urlFor('lessons:home') }}"><i class="material-icons left">schedule</i>Lessons</a></li>
            <li class="bold"><a href="{{ urlFor('auth:logout') }}"><i class="material-icons left">&#xE8AC;</i>Logout</a></li>
        </ul>
    </div>
    <ul id="notifications-dropdown" class="dropdown-content">
        <template v-for="(notification, index) in notifications">
            <li><a :data-i="index + 1">{{ '{{' }}notification.message{{ '}}' }}</a></li>
        </template>
        <li class="divider"></li>
        <li><a href="{{ urlFor('notifications:view') }}" class="center-align">View all</a></li>
    </ul>
</nav>
<script>
    addLoadEvent(function () {
        {{ static('js/vue/topbarVM.min.js') }}
    });
</script>
