<div class="row">
    <div class="row">
        <div class="col s12">
            <div class="z-depth-1 padded-box">
                <div class="row">
                    <div class="col s12">
                        <h1>Attendees:</h1>
                        <ul class="collapsible popout" id="attendees" data-collapsible="accordion"
                            data-teaching="{{ urlFor('api:lessons:teaching') }}" data-attendees="{{ urlFor('api:lessons:attendees') }}">
                            {% raw %}
                                <li v-for="lesson in teaching">
                                    <div class="collapsible-header">
                                        Class: <b>{{ lesson.name }}</b>
                                    </div>
                                    <div class="collapsible-body">
                                        <button class="btn btn-large btn-flat" v-for="user in attendees[lesson.id]">{{ user.name }}</button>
                                    </div>
                                </li>
                            {% endraw %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    /* HIDE HOVER EFFECT */
    button.btn.btn-flat {
        background : transparent;
        cursor     : default;
    }
</style>
<script>
    addLoadEvent(function () {
        {{ static('js/vue/attendeesVM.min.js') }}
    });
</script>
