<div class="row" id="notifications"
     data-users="{{ urlFor('api:lessons:attendees:all') }}"
     data-teaching="{{ urlFor('api:lessons:teaching') }}"
     data-notifications="{{ urlFor('api:lessons:notifications') }}">
    <div class="col s12 m10 offset-m1">
        <div class="row">
            <div class="col s12">
                <h2>Notifications</h2>
            </div>
        </div>

        <div class="row notifications-preloader" :data-loaded="isLoaded">
            <div class="col s12">
                <div id="loader" class="row center-align">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% spaceless %}
            {% raw %}
                <div class="row notifications-row" :data-loaded="isLoaded">
                    <div class="col s12">
                        <div class="row">
                            <div class="col s12">
                                <h5>Legend:</h5>
                                <div>
                                    <button class="btn btn-large btn-flat white-text green lighten-2">Has seen the notification</button>
                                    <button class="btn btn-large btn-flat white-text red lighten-2">Hasn't yet seen the notification</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <ul class="collapsible popout" data-collapsible="expandable">
                                    <li v-for="lesson in teaching">
                                        <div class="collapsible-header">
                                            <span class="bold">{{ lesson.name }}</span>
                                            <span class="new badge" :class="[ lesson.unseen ? 'red' : 'green' ]" data-badge-caption="unseen">{{ lesson.unseen }}</span>
                                            <span v-if="lesson.due" class="badge">[Due {{ lesson.due | date }}]</span>
                                        </div>
                                        <div class="collapsible-body">
                                            <ul class="collapsible popout" data-collapsible="expandable">
                                                <li v-for="notification in notifications[lesson.id]">
                                                    <div class="collapsible-header lighten-4"
                                                         :class="{ 'red': notification.unseen }">
                                                        <span>{{ notification.message }}</span>
                                                        <span class="badge">[{{ notification.date | time }}]</span>
                                                        <span class="new red badge" data-badge-caption="unseen" v-if="notification.unseen > 0">{{ notification.unseen }}</span>
                                                    </div>
                                                    <div class="collapsible-body">
                                                        <button class="btn btn-large btn-flat white-text lighten-2"
                                                                :class="[ seen(notification, user) ? 'green' : 'red' ]"
                                                                v-for="user in users[lesson.id]">
                                                            {{ user.name }}
                                                        </button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endraw %}
        {% endspaceless %}
    </div>
</div>
<style>
    /* HIDE HOVER EFFECT */
    button.btn.btn-flat {
        background: transparent;
        cursor: default;
        margin: 0 .3em;
    }

    .row.notifications-preloader,
    .row.notifications-row[data-loaded] {
        display: initial;
    }

    .row.notifications-preloader[data-loaded],
    .row.notifications-row {
        display: none;
    }
</style>
<script>
    addLoadEvent(function() {
        {{ static('js/vue/notificationVM.teacher.min.js') }}
    });
</script>
