{% extends '_templates/default.twig' %}

{% block content %}
    <div class="row">
        <form action="{{ urlFor('api:lessons:update:attending') }}" data-attending="{{ urlFor('api:lessons:attending') }}" method="POST" class="col s12 m8 l6" id="lessons">
            <div class="row">
                <h1 class="col s6">Attending:</h1>
            </div>
            <div class="row lessons-attending">
                <p class="col s6"
                   v-for="lesson in lessons">
                    <input type="checkbox" :id=" 'lesson-' + lesson.id " :checked="lesson.attending" @change="lesson.attending = $event.target.checked"/>
                    <label :for=" 'lesson-' + lesson.id ">{{ '{{' }}lesson.name{{ '}}' }}</label>
                </p>
            </div>
            <div class="row">
                <div class="col s6 offset-s6">
                    <button class="btn btn-large" :class="{ 'btn-loading': loading, 'btn-error': error, 'btn-success': success }" @click.prevent="saveLessons">Save</button>
                </div>
            </div>
            <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
        </form>
    </div>
    <script>
        addLoadEvent(function () {
            {{ static('js/vue/lessonsVM.home.min.js') }}
        });
    </script>
{% endblock %}
