{% extends '_templates/default.twig' %}

{% set sex = 'Unknown' %}
{% set sexIcon = '' %}
{% set dataSex = data.data.sex %}

{% if dataSex == 'i' %}
    {% set sex = 'Intersex' %}
{% elseif dataSex == 'm' %}
    {% set sex = 'Male' %}
{% elseif dataSex == 'f' %}
    {% set sex = 'Female' %}
{% endif %}

{% block head %}
    <script src="/js/vendor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.3.0/sweetalert2.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.3.0/sweetalert2.min.css">
{% endblock %}

{% block content %}
    <div class="row z-depth-2 top-spacer">
        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <h1>Signup:</h1>
                </div>
            </div>
            <form action="{{ urlFor('api:user:signup') }}" method="POST" class="row" id="invite-user"
                  data-login="{{ urlFor('auth:login') }}" data-lessons="{{ urlFor('lessons:home') }}" data-user="{{ data.uuid }}">
                <div class="row">
                    <input-field name="Full name" value="{{ data.name }}" :disabled="true"></input-field>
                    <input-field name="User Identifier" value="{{ data.uuid }}" comment="(User ID)" :disabled="true"></input-field>
                </div>
                <div class="row">
                    <input-field name="Email" value="{{ data.email }}" :disabled="true"></input-field>
                    <input-field name="DOB" value="{{ data.data.dob }}" cols="m3 s6" :disabled="true"></input-field>
                    <input-field name="Sex" value="{{ sex }}" cols="m3 s6" :disabled="true"></input-field>
                </div>
                <div class="row">
                    <input-field :required="true" type="password" name="Password" :invalid="!passwordsMatch" v-model="password"></input-field>
                    <input-field :required="true" type="password" name="Repeat password" error="Passwords must match" :invalid="!passwordsMatch" v-model="repeatPassword"></input-field>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button @click.prevent="send" class="btn btn-large right" :class="{ 'btn-loading': loading, 'btn-error': btnError, 'btn-success': btnSuccess }" :disabled="!submittable">
                            <i class="material-icons left">create</i> Sign up
                        </button>
                    </div>
                </div>
                <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
                <input type="hidden" name="code" value="{{ code }}">
                <input type="hidden" name="user" value="{{ data.uuid }}">
            </form>
        </div>
    </div>
    <script>
        addLoadEvent(function () {
            {{ source('_parts/__VueVMs/signupVM.min.js') }}
        });
    </script>
    <style>
        .row.top-spacer {
            padding    : 0 2.1rem 0 2.1rem;
            margin-top : 8vh;
        }

        .input-field label::after {
            width : -moz-max-content;
            width : max-content;
        }
    </style>
{% endblock %}
